.qodef-content .qodef-content-inner>.qodef-full-width>.qodef-full-width-inner {
    padding: 50px 50px 45px
}

.qodef-content .qodef-content-inner>.qodef-container>.qodef-container-inner {
    padding: 50px 50px 45px
}

.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea {
    height: 145px
}

.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date,
.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea,
.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz {
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 47px
}

.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text::placeholder,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number::placeholder,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date::placeholder,
.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea::placeholder,
.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select::placeholder,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz::placeholder {
    color: #fff
}

.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus,
.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus,
.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus {
    color: #fff
}

.cf7_custom_style_1 p {
    color: #fff
}

.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit {
    color: #222;
    padding-top: 0;
    padding-bottom: 0;
    height: 52px;
    line-height: 52px;
    background-color: #fff
}

.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover {
    color: #fff;
    background-color: #23a9af
}

.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea {
    height: 145px
}

.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text,
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number,
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date,
.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea,
.cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select,
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz {
    color: #fff;
    padding-left: 47px;
    margin-bottom: 6px
}

.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit {
    color: #000;
    background-color: #fff
}

.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover {
    color: #fff;
    background-color: #23a9af
}

.cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea {
    height: 145px
}

.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text,
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number,
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date,
.cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea,
.cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select,
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz {
    color: #fff;
    padding-left: 47px;
    margin-bottom: 6px
}

.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit {
    color: #fff;
    background-color: #3fd0d4
}

.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover {
    color: #000;
    background-color: #fff
}

.error404 .qodef-content {
    background-image: url(https://setsail.qodeinteractive.com/wp-content/uploads/2018/09/404-error-page-background-1.jpg);
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat
}

.error404 .qodef-page-not-found .qodef-404-title {
    color: #fff
}

.error404 .qodef-page-not-found .qodef-404-text {
    color: #fff
}

.qodef-fullscreen-menu-holder {
    background-color: rgba(63, 208, 212, .85)
}

.qodef-mobile-header .qodef-fullscreen-menu-opener {
    color: #fff
}

.qodef-header-box .qodef-top-bar-background {
    height: 86px
}

.qodef-title-holder .qodef-title-wrapper .qodef-page-title {
    color: #fff
}

.qodef-title-holder .qodef-title-wrapper .qodef-page-subtitle {
    color: #fff
}